site_name: Excaligen
site_description: A lightweight Python library for generating Excalidraw files.
site_author: Milan Piskla
repo_url: https://github.com/milanpiskla/excaligen

theme:
  name: material
  palette:
    primary: indigo
  features:
    - search.suggest
    - search.highlight
    - content.code.copy

docs_dir: docs

nav:
  - Home: index.md
  - Developer Guide: guide/index.md
  - API Reference: api/index.md

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences